vars:

  - name: "tfstate_module_paths"
    {{ tfstate_module_paths | to_nice_yaml | indent(4, indentfirst=False) }}



  - name: "tfstate_resources"
    {{ tfstate_resources | to_nice_yaml(width=1337) | indent(4, indentfirst=False) }}



{#  - name: "tfstate_module_resources"#}
{#    {{ tfstate_module_resources | to_nice_yaml(width=1337) | indent(2, indentfirst=False) }}#}



  - name: "tfstate_module_path_resources"
    {{ tfstate_module_path_resources | to_nice_yaml(width=1337) | indent(2, indentfirst=False) }}



  - name: "tfstate_module_resources_with_paths"
    {{ tfstate_module_resources_with_paths | to_nice_yaml(width=1337) | indent(2, indentfirst=False) }}



  - name: "tfstate_module_resource_attributes"
    {{ tfstate_module_resource_attributes | to_nice_yaml(width=1337) | indent(2, indentfirst=False) }}



  - name: "tfstate_module_output_attributes"
    {{ tfstate_module_output_attributes | to_nice_yaml(width=1337) | indent(2, indentfirst=False) }}


